extends layout.pug

block content
  h1(class='text-4xl')= date
  div(class='mt-4 flex flex-col')
    each menu in menus
      div(class='mt-4')
        h2(class='text-3xl')
          a(href=menu.url, target='_blank')= menu.venue
        if (menu.dayMenu)
          div(class='mt-2 flex flex-wrap')
            if (menu.dayMenu)
              +dayMenu(null, menu.dayMenu)
        else
          div(class='mt-2') Päivän ruokalista ei ole saatavilla