include mixins.pug

doctype html
html(lang='fi')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='style.css', rel='stylesheet')
    title= 'JäkeLunch'
  body
    main(class='p-6')
      block content