extends layout.pug

block content
  div(class='mt-4 flex flex-col')
    each menu in menus
      div(class='mt-4')
        h2(class='text-3xl')
          a(href=menu.url, target='_blank')= menu.venue
        if (menu.weekMenu || menu.allWeekMenu)
          div(class='mt-2 flex flex-wrap')
            if (!menu.weeklyOnly && menu.weekMenu)
              - i = 0;
              while i < 5
                +dayMenu(weekDates[i], menu.weekMenu[i])
                - i++;
            if (menu.allWeekMenu)
              +dayMenu('Koko viikon annokset', menu.allWeekMenu)
        else
          div(class='mt-2') Viikon ruokalista ei ole saatavilla